@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* background-image: linear-gradient(to left, rgb(29, 45, 59),rgb(94, 42, 42));  */
   background-image: linear-gradient(to left, rgb(36, 26, 56), rgb(20 15 35)); 
}
